@use "../../scss/libs/normalize" as *;
@import "../../scss/variables";

.categories {

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 1300px) {
    margin-top: 2rem;
    align-items: center;
    overflow: scroll;
  }
}

.item {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @include noselect();

  &:hover {
    background-color: darken(#f9f9f9, 2%);
  }

  &:active {
    background-color: darken(#f9f9f9, 5%);
  }
}

.activeCategory {
  background-color: #282828;
  color: #fff;

  &:hover {
    background-color: #282828;
  }
}
