.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1300px) {
    flex-direction: column-reverse;
  }
}

.title {
  margin: 2.5rem 0;
  font-size: 2.25rem;
  font-weight: 800;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.125rem;
  grid-row-gap: 0.125rem;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
